body {
    background-color: #1E2D3B;
}

img {
    max-width: 100%;
    pointer-events: none;
    user-select: none;
}

header {
    background-color: #2E3A46;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 50px;
}

.card-disc {
    background-color: #2E3A46;
    font-weight: bold;
    height: 400px;
    padding: 1.2rem;


}

main {
    height: calc(100vh - 70px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;
    overflow: auto;
}